doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  title Document
nav.navbar.navbar-expand-sm.bg-light.navbar-light
  ul.navbar-nav
    li.nav-item
        a.nav-link(href='/') Home
    li.nav-item.active
      a.nav-link(href='/books') Books
    li.nav-item
      a.nav-link(href='/users') Users
    li.nav-item
      a.nav-link(href='/transaction') Transaction
    
div
  h3.text-center Products
  
.container
      each item in products
        .row.d-inline-flex.card-deck
           .col-6.col-sm-4.col-md-3.p-2
              .card(style='width:250px')
                  img.card-img-top(src=item.image alt='Card image' style='width:100%')
                  .card-body
                    h4.card-title 
                      span=item.name
                        p.card-text 
                        div=item.description
                        a.btn.btn-primary(href='/cart/'+item.id) Add

a.btn.btn-primary(href='/buy' style="margin-left: 10.5rem;") Mua
.container
  ul.pagination
    li.page-item
      a.page-link(href='/products/page/?q='+trang[3]+'&p=lui') Previous
    li.page-item
      a.page-link(href='/products/page/?q=' + trang[0] )= trang[0]
    li.page-item
      a.page-link(href='/products/page/?q=' + trang[1] )= trang[1]
    li.page-item
      a.page-link(href='/products/page/?q=' + trang[2] )= trang[2]
    li.page-item
      a.page-link(href='/products/page/?q='+trang[3]+'&p=tien') Next
